.button-login-style {
  background-color: #388e3c !important;
}

.space-container-login-screen {
  padding: 5%;
}

.color-text-green-yaco {
  color: #388e3c !important;
}

.color-text-white-yaco {
  color: white !important;
}
