.size-background {
    width: 95vw;
    height: 100vh;
}

.background-form {
    background-color: white;
    height: 100vh;
    width: 600px;
    padding: 30px 80px 0px 200px;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
}

.color-white-text {
    color: white;
}

.size-ground {
    font-size: 200px;
}

.center-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.button-style-login {
    font-size: 20px;
    background-color: transparent;
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    padding: 12px 28px;
}

.button-style-login:hover {
    transition: 0.3s;
    font-size: 20px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #388e3c;
    color: #388e3c;
    padding: 12px 28px;
}

.top-space-row-form {
    margin-top: -28px;
}

.button-style-register {
    font-size: 20px;
    background-color: white;
    border-radius: 25px;
    border: 2px solid #388e3c;
    color: #388e3c;
    padding: 12px 28px;
}

.button-style-register:hover {
    transition: 0.3s;
    font-size: 20px;
    background-color: #388e3c;
    border-radius: 25px;
    border: 2px solid #388e3c;
    color: white;
    padding: 12px 28px;
}

i {
    margin: 0 10px 0 10px;
}

.vertical-center {
    height: 50%;
    display: flex;
    align-items: center;
}